# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# CMake cache files
CMakeFiles
CMakeCache.txt
*.cmake
Makefile
Testing

# build files
build

# update scripts
upload.sh
upload.log
date.log

# clean script that may be created on Ubuntu
clean
